<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="User.hbm.xml" />
		<mapping resource="LoginLog.hbm.xml" />
		<mapping resource="Topic.hbm.xml" />
		<mapping  resource="Reply.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
